.App {
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

input[type='text'] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

h4 {
  margin-top: 20px;
}
